<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TelasEntities" connectionString="metadata=res://*/Model.Telas.csdl|res://*/Model.Telas.ssdl|res://*/Model.Telas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QGUUR7H\SQLEXPRESS;initial catalog=Telas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TelasEntities" connectionString="metadata=res://*/Model.Telas.csdl|res://*/Model.Telas.ssdl|res://*/Model.Telas.msl;provider=System.Data.SqlClient;provider connection string=&quot;workstation id=Telas9C.mssql.somee.com;packet size=4096;user id=walterep_SQLLogin_1;pwd=vhsy644sjb;data source=Telas9C.mssql.somee.com;persist security info=False;initial catalog=Telas9C;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>