@{ 
	Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="contact-data">
	<div class="container">
		<h2>Escríbenos</h2>
		<div class="contact-form">
			<form method="post" class="left_form" action="~/Sitio/Contacto">
				<div>
					<span><label>Nombre</label></span>
					<span><input name="nombre" type="text" class="textbox" placeholder="Nombre"></span>
				</div>
				<div>
					<span><label>Correo Electrónico</label></span>
					<span><input name="correo" type="text" class="textbox" placeholder="Correo"></span>
				</div>
			</form>
			<form class="right_form">
				<div>
					<span><label>Comentario</label></span>
					<span><textarea name="comentario" placeholder="Comentario"></textarea></span>
				</div>
				<div>
					<span><input type="Enviar" value="submit" class="myButton"></span>
				</div>
			</form>
			<div class="clear"></div>
		</div>
		<!---728x90--->
		<script src="https://publisher.eboundservices.com/dynamicAds/dynamicScript.js" style="display: none !important;"></script>
		<div style="margin: 0 auto;text-align: center;margin-top: 5px;">
			<script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
			</script>
		</div>
		<div class="content_bottom">
			<div class="company_address">
				<h2>Localización</h2>
				<p>Dirección : 37 345 Calle 60, Centro, 97000 Mérida, Yuc.</p>
				<p>Mérida Yucatán México</p>
				<p>Teléfono:+52 1 999 997 0104</p>
				<p>Email: <span><a href="mailto:info@mycompany.com">edwinalejandrochi@hotmail.com</a></span></p>
			</div>
			@*<div class="contact_info">
				<h2>Find Us Here</h2>
				<div class="map">
					<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Contact __ w3layouts_files/maps.html"></iframe><br><small><a href="https://www.google.com.mx/maps/place/Grupo+Promotora+Residencial/@20.9818791,-89.6210814,18.75z/data=!4m5!3m4!1s0x8f5671596221c3db:0xd45fa91f6b048203!8m2!3d20.981996!4d-89.620546" style="color:#999;text-align:left;font-size:13px">View Larger Map</a></small>
				</div>
			</div>*@
			<div class="clear"></div>
		</div>
	</div>
</div>
<!-- contact -->
