@{ 
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="products">
    <div class="container">
        <h3><span>Productos</span></h3>
        <div class="products-top">
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1-irnYZnNnq9GHeILygUG2mK1NB7HazKd" class="img-responsive" alt="">
            </div>
            <div class="col-md-3 prod-1">
                <h4>Telas Lykra</h4>
                <p>Usada por las más grandes cadenas comerciales de ropa deportiva del mundo. simplemente una de las mejores lykras del mercado.</p>
            </div>
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1DDzy_D5zo5SOD1AWsM5kAzhq-V7MbyRn" class="img-responsive" alt="">
            </div>
            <div class="col-md-3 prod-1">
                <h4>Telas Cardigan</h4>
                <p>Esta tela es utilizada en la fabricación de cuellos y puños para playeras deportivas de cuello redondo</p>
            </div>
            <div class="clearfix"> </div>
            <div class="col-md-3 prod-1">
                <h4>Telas Bombay</h4>
                <p>Tela elastica para blusa, forro de falda, manteleria y almohadas.</p>
            </div>
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1LfEC9IMA65vjoDLsv7TsIEh69OmpNMpH" class="img-responsive" alt="">
            </div>
            <div class="col-md-3 prod-1">
                <h4>Tela Dublin</h4>
                <p>Tela deportiva excelente para la confección de Pants o manteles.</p>
            </div>
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1ZyfXA9Y8wo_YQp1diSNK74XYIcS4J2nF" class="img-responsive" alt="">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

