@{ 
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="products">
    <div class="container">
        <h3><span>Products		|</span>Pellentesque rutrum, libero eget semper volutpat,</h3>
        <div class="products-top">
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1YTEHvasecLdVrpe0qav3T88po_CEVMqE" class="img-responsive" alt="">
            </div>
            <div class="col-md-3 prod-1">
                <h4>Cras mattis hendrerit</h4>
                <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
            </div>
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1DDzy_D5zo5SOD1AWsM5kAzhq-V7MbyRn" class="img-responsive" alt="">
            </div>
            <div class="col-md-3 prod-1">
                <h4>Cras mattis hendrerit</h4>
                <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
            </div>
            <div class="clearfix"> </div>
            <div class="col-md-3 prod-1">
                <h4>Cras mattis hendrerit</h4>
                <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
            </div>
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1c6bEhy8NucnmDVMH45qz4lnTlfT6_F7V" class="img-responsive" alt="">
            </div>
            <div class="col-md-3 prod-1">
                <h4>Cras mattis hendrerit</h4>
                <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
            </div>
            <div class="col-md-3 prod">
                <img src="http://drive.google.com/uc?export=view&id=1OfnwdZISn4autYgxQzcqJq-_y442NyGL" class="img-responsive" alt="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <h3><span>History		|</span>Pellentesque rutrum, libero eget semper volutpat,</h3>
    </div>
</div>

