@{ 
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="services">
    <div class="container">
        <div class="services-grids">
            <div class="col-md-9 services-left">
                <h1>Misión</h1>
                <div class="services-left-grids">
                    <div class="col-md-6 services-left-grid">
                        <img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img1.jpg" class="img-responsive" title="name">
                        <h3>Hileras de Calidad</h3>
                        <p>Otorgar a las familias mexicanas productos de gran calidad a bajo costo, para confeccionar prendas y decorar su hogar.</p>
                        @*<a class="more-btn" href="https://p.w3layouts.com/demos/textile/web/services.html#">More</a>*@
                    </div>
                    <div class="col-md-6 services-left-grid">
                        <img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img2.jpg" class="img-responsive" title="name">
                        <h3>Telas de Calidad</h3>
                        <p>Otorgar a las familias mexicanas productos de gran calidad telas de bajo costo, para decorar su hogar.</p>
                        @*<a class="more-btn" href="https://p.w3layouts.com/demos/textile/web/services.html#">More</a>*@
                    </div>
                    <!---728x90--->
                    <script src="https://publisher.eboundservices.com/dynamicAds/dynamicScript.js" style="display: none !important;"></script>
                    <div style="margin: 0 auto;text-align: center;margin-top: 5px;">
                        <script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
                        </script>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- services -->