@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="services">
    <div class="container">
        <div class="services-grids">
            <div class="col-md-9 services-left">
                <h1>Misión</h1>
                <img src="http://drive.google.com/uc?export=view&id=16sY3dnP543-rXh07GQnUQAFStxs1Embd" class="img-responsive" title="name">
                <div class="services-left-grids">
                    <div class="col-md-6 services-left-grid">
                        <h3>Hileras de Calidad</h3>
                        <p>Otorgar a las familias mexicanas productos de gran calidad a bajo costo, para confeccionar prendas y decorar su hogar.</p>
                    </div>
                    <div class="col-md-6 services-left-grid">
                        <h3>Telas de Calidad</h3>
                        <p>Otorgar a las familias mexicanas productos de gran calidad telas de bajo costo, para decorar su hogar.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>