@{ 
	Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="services">
	<div class="container">
		<div class="services-grids">
			<div class="col-md-9 services-left">
				<h1>Misión</h1>
				<div class="services-left-grids">
					<div class="col-md-6 services-left-grid">
						<img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img1.jpg" class="img-responsive" title="name">
						<h3>Hileras de Calidad</h3>
						<p>Otorgar a las familias mexicanas productos de gran calidad a bajo costo, para confeccionar prendas y decorar su hogar.</p>
					</div>
					<div class="col-md-6 services-left-grid">
						<img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img2.jpg" class="img-responsive" title="name">
						<h3>Telas de Calidad</h3>
						<p>Otorgar a las familias mexicanas productos de gran calidad telas de bajo costo, para decorar su hogar.</p>
					</div>
					<!---728x90--->
					
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<!-- services -->