@model IEnumerable<Servicios.Model.Producto>
@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="products">
    <div class="container">
        <h3><span>Productos</span></h3>
        <div class="products-top">
            @foreach(var item in Model){
                <div id="imageContent" class="col-md-3 prod-1">
                    <image src="~/@item.ImagenPortada" width="200" height="200"></image>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

@*<script>
    $(document).ready(function () {
        $.ajax({
            async: true,
            type: 'GET',
            url: '@Url.Action("get_Productos", "Sitio")',
            success: function (data) {
                var images = data;
                for (var i = 0, j = images.length; i < j; i++) {
                    $("#imageContent").append("<img src='~/" + images[i] + "' width='300'>");
                }
            }
        });
    });
</script>*@