@model IEnumerable<Servicios.Model.Producto>
@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="products">
    <div class="container">
        <h3><span>Productos</span></h3>
        <div class="products-top">
            @foreach(var item in Model){
                <div id="imageContent" class="col-md-3 prod-1">
                    <image src="~/@item.ImagenPortada" width="200" height="200"></image>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

@*<script>
            $(document).ready(function () {
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '@Url.Action("get_Productos", "Sitio")',
                    success: function (data) {
                        var images = data;
                        for (var i = 0, j = images.length; i < j; i++) {
                            $("#imageContent").append("<img src='~/" + images[i] + "' width='300'>");
                        }
                    }
                });
            });
            $("#Subgenero").change(function () {
                $.ajax({
                    dataType: "json",
                    data: { clase: val("#Clase"), subclase: val("#SubClase"), genero: val("#Genero"), subgenero: val(this)},
                    url: '@Url.Action("TipoObra", "Leads")',
                    success: function (data) {
                        setComboTipoObra(data, "#idtbl_tipoobra");
                    }
                });
            });
        function setComboTipoObra(data, idcombo) {
        $(idcombo).empty();
        if (data.length > 0) {
            $(idcombo).append('<option value=""></option>');
            var opts = (data);
            $.each(opts, function (i, d) {

                $(idcombo).append('<option value="' + d.idtbl_tipoobra + '">' + d.TipoObra + '</option>');
            });
        }
        else {
            $(idcombo).append('<option value="">Sin datos</option>');
        }
    }
        </script>*@