@{ 
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="services">
    <div class="container">
        <div class="services-grids">
            <div class="col-md-9 services-left">
                <h1>Visión</h1>
                <div class="services-left-grids">
                    <div class="col-md-6 services-left-grid">
                        <img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img1.jpg" class="img-responsive" title="name">
                        <h3>Objetivo Específico</h3>
                        <p>Ser la empresa líder en el ramo textil, ofreciendo los precios más bajos garantizando la calidad y servicio.</p>
                    </div>
                    <div class="col-md-6 services-left-grid">
                        <img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img2.jpg" class="img-responsive" title="name">
                        <h3>Objetivo General</h3>
                        <p>Obtener una posición a nivel internacional con otras empresas de ramo textil.</p>
                    </div>
                    <!---728x90--->
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- services -->
