<footer class="footer">
    <div class="container">        
        <div class="col-md-6 say">
            <h4>Envíanos tú opinión</h4>
            <form method="post" action="~/Sitio/Contacto">
                <div class="form_details">
                    <input placeholder="Nombre" type="text" class="text" value="nombre" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Name&#39;;}">
                    <input placeholder="Correo" type="text" class="text" value="correo" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Email&#39;;}">
                    <textarea placeholder="Comentario" value="comentario" onfocus="if(this.value == &#39;Message&#39;) this.value=&#39;&#39;;" onblur="if(this.value == &#39;&#39;) this.value=&#39;Message&#39;;"></textarea>
                    <input type="submit" value="Enviar" id="enviar">
                    <h2 style="color:#FFFFFF;">
                        @ViewBag.Mensaje
                    </h2>
                </div>
            </form>
        </div>
        <div class="col-md-6 our">
            <h4>Nuestra Oficina</h4>
            <div class="ic-da">
                <div class="icon">
                    <i class="mob"> </i>
                </div>
                <div class="data">
                    <p>Teléfono: 01 999 942 6666</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <h6>E-mail: <a href="">grupopromotoraresidencial@hotmail.com</a></h6>
            <h5>Calle 60, Centro, 97000 Mérida, Yuc.</h5>
        </div>
        <div class="clearfix"> </div>
        <div class="bottom">
            <p class="text-center">Copyright © Telas Méxicanas 2018</p>
        </div>
    </div>
</footer>
