    <!-- news -->
<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="col-md-4 keep">
            <h4>Keep connected</h4>
            <div class="social">
                <ul>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="facebok"> </i></a></li>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="twiter"> </i></a></li>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="drible"> </i></a></li>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="in"> </i></a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
        <div class="col-md-4 say">
            <h4>Say hello</h4>
            <form>
                <div class="form_details">
                    <input type="text" class="text" value="Name" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Name&#39;;}">
                    <input type="text" class="text" value="Email" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Email&#39;;}">
                    <textarea value="Message:" onfocus="if(this.value == &#39;Message&#39;) this.value=&#39;&#39;;" onblur="if(this.value == &#39;&#39;) this.value=&#39;Message&#39;;">Message</textarea>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
        <div class="col-md-4 our">
            <h4>Our office</h4>
            <div class="ic-da">
                <div class="icon">
                    <i class="mob"> </i>
                </div>
                <div class="data">
                    <p>+(123) 456-789-1234</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <h6>E-mail: <a href="https://p.w3layouts.com/demos/textile/web/#">example@mail.com</a></h6>
            <h5>2nd Floor MNB Building, NG rood street, London1234.</h5>
        </div>
        <div class="clearfix"> </div>
        <div class="bottom">
            <p>Copyright © Telas Regionales del Sur 2018</p>
        </div>
    </div>
</footer>
<!-- footer -->
