    <!-- news -->
<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="col-md-4 keep">
            <h4>Mantente Conectado</h4>
            <div class="social">
                <ul>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="facebok"> </i></a></li>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="twiter"> </i></a></li>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="drible"> </i></a></li>
                    <li><a href="https://p.w3layouts.com/demos/textile/web/#"><i class="in"> </i></a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
        <div class="col-md-4 say">
            <h4>Envíanos tú opinión</h4>
            <form>
                <div class="form_details">
                    <input type="text" class="text" value="Nombre" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Name&#39;;}">
                    <input type="text" class="text" value="Correo Electrónico" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Email&#39;;}">
                    <textarea value="Comentario:" onfocus="if(this.value == &#39;Message&#39;) this.value=&#39;&#39;;" onblur="if(this.value == &#39;&#39;) this.value=&#39;Message&#39;;">Comentario</textarea>
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
        <div class="col-md-4 our">
            <h4>Nuestra Oficina</h4>
            <div class="ic-da">
                <div class="icon">
                    <i class="mob"> </i>
                </div>
                <div class="data">
                    <p>Teléfono: 01 999 942 6666</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <h6>E-mail: <a href="https://p.w3layouts.com/demos/textile/web/#">grupopromotoraresidencial@hotmail.com</a></h6>
            <h5>Calle 60, Centro, 97000 Mérida, Yuc.</h5>
        </div>
        <div class="clearfix"> </div>
        <div class="bottom">
            <p>Copyright © Telas Méxicanas 2018</p>
        </div>
    </div>
</footer>
<!-- footer -->
