<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Login</title>

    @RenderPage(Url.Content("~/Views/Shared/_Heads.cshtml"))

</head>
<body class="bg-dark">
    <!-- Contenedor general -->
    <div class="row-fluid">
        <div class="form-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
