<!DOCTYPE html>
<!-- saved from url=(0042)https://p.w3layouts.com/demos/textile/web/ -->
<html>
<head>
    @RenderPage(Url.Content("~/Views/Shared/_HeadsFE.cshtml"))
</head>
<body style="">
    <script src="~/Sitio/jquery.min.js"></script>
    <script src="https://m.servedby-buysellads.com/monetization.js" type="text/javascript" style="display: none !important;"></script>
    <script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
    </script>
    <script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
    </script>
    <script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
    </script>
    <div class="header-top">
        @RenderPage(Url.Content("~/Views/Shared/_NavbarFE.cshtml"))
    </div>
    <!-- phase -->
    <div class="phase">
        <div class="container">
            @RenderBody()
            <div class="col-md-9 phase-left">
                <h2>Phasellus vitae blandit felis non ultricies nis !</h2>
                <p>sociosqu ad litora torquent per conubia nostra</p>
            </div>
            <div class="col-md-3 phase-right">
                <a href="https://p.w3layouts.com/demos/textile/web/#" class="btn  btn-1c btn1 btn-1d">Learn More</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- phase -->
    <!-- products -->
    <!---728x90--->
    <script src="https://publisher.eboundservices.com/dynamicAds/dynamicScript.js" style="display: none !important;"></script>
    <div style="margin: 0 auto;text-align: center;margin-top: 5px;">
        <script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
        </script>
    </div>
    <div class="products">
        <div class="container">
            <h3><span>Products		|</span>Pellentesque rutrum, libero eget semper volutpat,</h3>
            <div class="products-top">
                <div class="col-md-3 prod">
                    <img src="~/Sitio/img1.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3 prod-1">
                    <h4>Cras mattis hendrerit</h4>
                    <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="col-md-3 prod">
                    <img src="~/Sitio/img2.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3 prod-1">
                    <h4>Cras mattis hendrerit</h4>
                    <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="clearfix"> </div>
                <div class="col-md-3 prod-1">
                    <h4>Cras mattis hendrerit</h4>
                    <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="col-md-3 prod">
                    <img src="~/Sitio/img3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-3 prod-1">
                    <h4>Cras mattis hendrerit</h4>
                    <p>Vestibulum ullamcorper odio at elit tempor, vel scelerisque neque convallis. Aenean leo enim, fermentum dapibus </p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="col-md-3 prod">
                    <img src="~/Sitio/img4.jpg" class="img-responsive" alt="">
                </div>
                <div class="clearfix"> </div>
            </div>
            <h3><span>History		|</span>Pellentesque rutrum, libero eget semper volutpat,</h3>
        </div>
    </div>
    <!---728x90--->
    <script src="https://publisher.eboundservices.com/dynamicAds/dynamicScript.js" style="display: none !important;"></script>
    <div style="margin: 0 auto;text-align: center;margin-top: 5px;">
        <script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
        </script>
    </div>
    <!-- products -->
    <!-- phase-bottom -->
    <div class="phase-bottom">
        <div class="container">
            <div class="col-md-9 phase-bottom-left">
                <h2>Phasellus vitae blandit felis non ultricies nis !</h2>
                <p>sociosqu ad litora torquent per conubia nostra sociosqu ad litora torquent per conubia nostra sociosqu ad litora torquent per conubia nostra</p>
            </div>
            <div class="col-md-3 phase-bottom-right">
                <a href="https://p.w3layouts.com/demos/textile/web/#" class="btn  btn-1c btn1 btn-1d">Learn More</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- phase-bottom -->
    <!-- news -->
    <!---728x90--->
    <script src="https://publisher.eboundservices.com/dynamicAds/dynamicScript.js" style="display: none !important;"></script>
    <div style="margin: 0 auto;text-align: center;margin-top: 5px;">
        <script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
        </script>
    </div>
    <div class="news">
        <div class="container">
            <h3><span>News		|</span>Pellentesque rutrum, libero eget semper volutpat,</h3>
            <div class="news-top">
                <div class="col-md-4 news-1">
                    <h5>Vivamus ante lorem lacinia ut bibend</h5>
                    <h6>10:00 to 11:00	|	Jan 09,2014</h6>
                    <p>Praesent tincidunt quam purus, quis tincidunt magna iaculis vitae. In fermentum dui lectus, eu cursus tellus pulvinar sed. Duis a eros at sapien vestibulum.</p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="col-md-4 news-1">
                    <h5>Vivamus ante lorem lacinia ut bibend</h5>
                    <h6>10:00 to 11:00	|	Jan 09,2014</h6>
                    <p>Praesent tincidunt quam purus, quis tincidunt magna iaculis vitae. In fermentum dui lectus, eu cursus tellus pulvinar sed. Duis a eros at sapien vestibulum.</p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="col-md-4 news-1">
                    <h5>Vivamus ante lorem lacinia ut bibend</h5>
                    <h6>10:00 to 11:00	|	Jan 09,2014</h6>
                    <p>Praesent tincidunt quam purus, quis tincidunt magna iaculis vitae. In fermentum dui lectus, eu cursus tellus pulvinar sed. Duis a eros at sapien vestibulum.</p>
                    <a class="read" href="https://p.w3layouts.com/demos/textile/web/#">More</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <footer>
        @RenderPage(Url.Content("~/Views/Shared/_FooterFE.cshtml"))
    </footer>
</body>
</html>
